*{
    padding: 0%;
    margin: 0%;
}
.logo{
    font-size: medium;
    font-weight: bolder;
    display: flex;
}
.navbar{
    padding: 40px 20px;
    font-size: medium;
    display: flex;
    font-style: oblique;
    color: blue;
}
.right{
    display: flex;
}
.info{
    color: red;
    font-weight: bolder;
    font-style: century;
    padding-right: 100px;
    font-size: 50px;

}
.sub-info{
    font-weight: bolder;
    font-size: xx-large;
    se

}
img{
    size: height: 20;
    display: flex;
}
.left{
    color: black;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 5px;
    font-style: normal;
    display: flex;
}
.buttons{
    padding: 10px;
    margin: 10px;
}
.side button{
    padding-right: 10px;
    margin-right: 20px;
}
.images{
    display: flex;
    background-color: black;
    width: 500px;
    height: 250px;


}
.sub-info img {
    display: flex;
    height: 50px;
    width: 100px;
}
